MDS-handin-2-server/web/WEB-INF/wsdl/localhost_8080/CompositeServer/CompositeServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://java.soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://java.soap/">

<xs:element name="CreateTask" type="tns:CreateTask"/>

<xs:element name="DeleteTask" type="tns:DeleteTask"/>

<xs:element name="GetAttendantTasks" type="tns:GetAttendantTasks"/>

<xs:element name="GetAttendantTasksResponse" type="tns:GetAttendantTasksResponse"/>

<xs:complexType name="DeleteTask">
<xs:sequence>
<xs:element name="taskId" type="xs:string" minOccurs="0"/>
<xs:element name="serviceOption" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateTask">
<xs:sequence>
<xs:element name="taskXml" type="xs:string" minOccurs="0"/>
<xs:element name="serviceOption" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAttendantTasks">
<xs:sequence>
<xs:element name="attendantId" type="xs:string" minOccurs="0"/>
<xs:element name="serviceOption" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAttendantTasksResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>